
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');



:root{
    --main-color: #333;
    --secondary-color: #f1356d;
    --background-color: #fff;

    /* reverse main and background for dark mode */
}

* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand";
    color: var(--main-color);
}

body{
    background-color: var(--background-color);
}

.nav-bar{
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto 10px;
    border-bottom: 1px solid var(--secondary-color);
}

.nav-bar h1{
    color: var(--secondary-color);
}

.nav-bar ul{
    margin-left: auto;
}

.nav-bar a{
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}
.nav-bar a:hover{
    color: var(--secondary-color);
}


/* HOME */

.previous-games{
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
}

.previous-games .game{
    border: 1px solid var(--secondary-color);
    border-radius: 25px 0;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.previous-games .game:hover{
    cursor: pointer;
}

.previous-games .champion-portrait{
    width: fit-content;
    display: inline-block;
}

.previous-games img{
    height: 250px;
    margin-left: 3px;
}

.previous-games h3{
    margin-top: 30px;
}


/* GAME DETAILS */
.game-details{
    padding: 30px;
}

.game-details .content, .new-game .notes-form{
    padding: 5%;
    border: 1px solid var(--secondary-color);
    border-radius: 25px 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

.game-details .champion-portrait{
    width: fit-content;
    /* display: inline-block; */
}

.game-details img{
    height: 250px;
    margin-left: 3px;
}

.game-details .notes p{
    font-size: 1.5em;
}



/* NEW GAME => CHOICE */
.opponents-choice{
    padding: 5%;
    border-radius: 25px 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}


.opponents-choice::before, .opponents-choice::after{
    content: "";
    border: 1px solid var(--secondary-color);
    width: 50px;
}


.opponents-choice img{
    height: 300px;
}


.opponent-choice:hover{
    cursor: pointer;
}

.opponent-choice h3{
    margin-top: 10px;
    font-size: 1.5em;
    letter-spacing: 0.200em;
}
.opponent-choice h3::first-letter{
    color: var(--secondary-color);
    text-transform: capitalize;
}




.new-game .notes-form{
    border: none;
}
.new-game h3{
    margin-top: 10px;
    font-size: 1.5em;
    letter-spacing: 0.200em;
}
.new-game .notes-form h3::first-letter{
    color: var(--secondary-color);
    text-transform: capitalize;
}
.new-game .notes-form img{
    height: 300px;
    border-radius: 10% 0;
    border: 1px solid var(--secondary-color);
    padding: 5px;
}
.new-game .notes-form form{
    align-self: flex-start;
    margin-top: 0%;
}
.new-game .notes-form form h2{
    font-size: 1.7em;
    letter-spacing: 0.1em;
    color: var(--secondary-color);
}
.new-game .notes-form form .add-note{
    border: 1px solid var(--main-color);
    background: none;
    padding: 10px;
    width: 150px;
    display: block;
}

/* how to style dynamically generated elements */
.new-game .notes-form form input[type=text]{
    display: block;
    background: none;
}
